{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <div class="{{ particle.class|e }}">
        {% if particle.title %}<h2 class="trajectory-title">{{ particle.title|raw }}</h2>{% endif %}

        <div class="trajectory-contenttabs">
            <div id="trajectory-contenttabs-{{ id }}" class="trajectory-contenttabs-container">
                <ul class="trajectory-contenttabs-tab-wrapper-container">

                    {% for item in particle.items %}
                        <li class="trajectory-contenttabs-tab-wrapper">
                            <span class="trajectory-contenttabs-tab-wrapper-head">
                                <a class="trajectory-contenttabs-tab" href="#trajectory-contenttabs-item-{{ id }}-{{ loop.index }}">
                                    <span class="trajectory-contenttabs-tab-title">{{ item.title|raw }}</span>
                                </a>
                            </span>
                        </li>
                    {% endfor %}

                </ul>

                <div class="clearfix"></div>

                <ul class="trajectory-contenttabs-content-wrapper-container">

                    {% for item in particle.items %}
                        <li class="trajectory-contenttabs-tab-wrapper">
                            <div class="trajectory-contenttabs-tab-wrapper-body">
                                <div id="trajectory-contenttabs-item-{{ id }}-{{ loop.index }}" class="trajectory-contenttabs-content">
                                    {{ item.content|raw }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/juitabs.js') }}"></script>
{% endblock %}

{% block javascript_footer %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#trajectory-contenttabs-{{ id }}').tabs({
                show: {
                    {% if particle.animation == 'up' or particle.animation == 'down' or particle.animation == 'left' or particle.animation == 'right' %}
                    effect: 'slide',
                    direction: '{{ particle.animation }}',
                    {% else %}
                    effect: '{{ particle.animation|default('slide') }}',
                    {% endif %}
                    duration: 500
                }
            });
        });
    </script>
{% endblock %}
